[submodule "lib/lightbox2"]
	path = lib/lightbox2
	url = https://github.com/lokesh/lightbox2.git
[submodule "lib/wp-settings"]
	path = lib/wp-settings
	url = https://github.com/weldstudio/wp-settings.git
[submodule "lib/jquery-ui-multiselect"]
	path = lib/jquery-ui-multiselect
	url = https://github.com/ehynds/jquery-ui-multiselect-widget.git
[submodule "lib/jquery-ui-timepicker"]
	path = lib/jquery-ui-timepicker
	url = https://github.com/trentrichardson/jQuery-Timepicker-Addon.git
[submodule "lib/jcarousel"]
	path = lib/jcarousel
	url = https://github.com/jsor/jcarousel.git
[submodule "lib/camanjs"]
	path = lib/camanjs
	url = https://github.com/meltingice/CamanJS.git
[submodule "plupload"]
	path = plupload
	url = https://github.com/moxiecode/plupload.git
